body{
    margin:0;
}

header {
    display: flex;
    color : black;
    justify-content: space-between;
    align-items: center;
   
}

ul {
    margin: 0px;
    list-style: none;
    font-size : 20px;
    padding : 0 148px;
}

ul li {
    display: inline-block;
    padding : 0 40px;
    cursor: pointer;
    font-size: 0.8 rem;
}

hr{
    border-bottom : 1px solid;
}
.active {
    background-color: #F9E9CF;
}

#localisation
{
    width: 397px;
    height: 72px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#horaires
{ 
    width: 383px;
    height: 40px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#identifier
{
    width: 93px;
    height: 33px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    text-align: center;
    border: 2px solid #9C917D;
    background-color: #9C917D;
    padding: 4px 8px; 
    border-radius: 20px;
    cursor: pointer;
    height: 80%;
    justify-content: center;
}

#logoGalerie
{
    width: 200px;
    height: 200px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

#fresque {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    list-style: none;
    display: flex;
}

#bandeaugalerie
{
    width: 100%;
    height: 239px;
    background: url(<path-to-image>), lightgray -3.182px -0.121px / 100% 460.032% no-repeat;
}

.fresque {
    position: relative;
}

.infos {
    position: absolute;
    bottom: 0;
}

.fresque::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 37%;
    background-color: black;
    opacity:0.6 ;
    z-index: 1;
}

.fresque .infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 98%;
    z-index: 2; 
    padding: 10px;
    align-items: center;
}

.préface
{
    color: #000;
    text-align: center;
    font-size: 18px;
    background-color: #F6E9D1;
    width: 100%;
    height: 75px;
    display: flex;
}

.préface p
{
    margin-top: 0;
}

.titre1acquisition{
    display: flex;
    height: 100px;
    font-family: Inika;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #72887b;
    justify-content: center;
    align-items: center;
}

.titre1acquisition h2 {
    margin: 0;
}

.imageligne1 {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.imageligne1 .bloc1,.imageligne1 .bloc2,.imageligne1 .bloc3 {
    text-align: center; 
}

.imageligne1 img {
    width: 300px;
    height: 300px;
    margin-top: 25px;
}

.imageligne1 h3 {
    position: relative;
    background-color: black;
    opacity:0.7;
    color: white; 
    padding: 10px; 
    margin-top: -50px;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center; 
    box-sizing: border-box;
    top: -22px;
}

.imageligne1 .bloc1 h3,.imageligne1 .bloc2 h3,.imageligne1 .bloc3 h3 {
    height: 20%; 
}


.prestations1 {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
    margin-top:-28px;

}

.prestations1, .texte1presta,.text2presta ,.text3presta{
    text-align: center; 
}

.texte1presta{
    width: 25%;
}

.texte2presta{
    width: 25%;
}

.texte3presta{
    width:23%;
    margin-right:10px;
}
span
{
    font-weight: bold;
}



.imageligne2 {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.imageligne2 .bloc4,.imageligne2 .bloc5,.imageligne2 .bloc6 
{
    text-align: center; 
}

.imageligne2 img {
    width: 300px;
    height: 300px;
    margin-top: 25px;
}

.imageligne2 h3 {
    position: relative;
    background-color: black;
    opacity:0.7;
    color: white; 
    padding: 10px; 
    margin-top: -50px;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center; 
    box-sizing: border-box;
    top: -22px;
}

.imageligne2 .bloc5 h3{
    height: 20%; 
}


.prestations2 {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
    margin-top:-28px;

}

.prestations2, .texte4presta,.text5presta ,.text6presta{
    text-align: center; 
}

.texte4presta{
    width: 25%;
}

.texte5presta{
    width: 25%;
}

.texte6presta{
    width:23%;
    margin-right:10px;
}

.titre2acquisition{
    display: flex;
    height: 100px;
    font-family: Inika;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #72887b;
    justify-content: center;
    align-items: center;
}

.imageligne3 {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.imageligne3 .bloc7,.imageligne3 .bloc8,.imageligne3 .bloc9
{
    text-align: center; 
}

.imageligne3 img {
    width: 300px;
    height: 300px;
    margin-top: 25px;
}

.prestations3 {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;

}

.prestations3, .texte7presta,.text8presta ,.text9presta{
    text-align: center; 
}

.texte7presta{
    width: 25%;
    margin-top:-5px;
}

.texte8presta{
    width: 25%;
    margin-top:-40px;
}

.texte9presta{
    width:23%;
    margin-right:10px;
    margin-top:-40px;
}

.imageligne3 .bloc5 h3{
    height: 20%; 
}

.imageligne4 {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.imageligne4 .bloc10,.imageligne4 .bloc11,.imageligne4 .bloc12 {
    text-align: center; 
}

.imageligne4 img {
    width: 300px;
    height: 300px;
    margin-top: 25px;
}

.imageligne4 h3 {
    position: relative;
    background-color: black;
    opacity:0.7;
    color: white; 
    padding: 10px; 
    margin-top: -50px;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center; 
    box-sizing: border-box;
    top: -26px;
}

.imageligne4 .bloc10 h3,.imageligne4 .bloc12 h3 {
    height: 20%; 
}


.prestations4 {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
    margin-top:-28px;

}

.prestations4, .texte10presta,.text11presta ,.text12presta{
    text-align: center; 
}

.texte10presta{
    width: 25%;
    margin-top:-8px;
}

.texte11presta{
    width: 25%;
    margin-top:-8px;
}

.texte12presta{
    width:23%;
    margin-right:10px;
    margin-top:-8px;
}


.bandeau {
    background-color: #F6E9D1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100px;
    flex-shrink: 0;
}

.adresse {
    padding: 0px;
    font-size: 12px;
    margin-top: -3%;
    max-width: 20%;
}

.adresse li
{ 
    list-style-type: circle;
}

.partenaires {
    margin-left: auto;
    max-width: 172px;
    font-size: 15px;
}

.logo-partenaire1 img {
    max-width: 129px;
    margin-left: 10px;
    flex-shrink: 0;
}

.logo-partenaire2 img {
    max-width: 140px;
    margin-left: 10px;
    flex-shrink: 0;
}

.RS_bas {
    flex-direction: column; 
    display: flex;
    margin-left: auto;
    font-size: 15px;
    line-height: 2.7;
}

.RS_bas i {
    margin-right: 5px;
}

.bandeau2 {
    background-color: #8E6852;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.RS_bas2 {
    margin-left: auto;
    color: #FFF;
}

.RS_bas2 i {
    margin-right: 10px;
}

.text_bas{
    font-size: 15px;
    max-height: 20px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    color: #FFF;
}

.texte1presta:hover
{
    font-size: 20px;
}

.texte2presta:hover
{
    font-size: 20px;
}

.texte3presta:hover
{
    font-size: 20px;
}

.texte4presta:hover
{
    font-size: 20px;
}

.texte5presta:hover
{
    font-size: 20px;
}

.texte6presta:hover
{
    font-size: 20px;
}

.texte7presta:hover
{
    font-size: 20px;
}

.texte8presta:hover
{
    font-size: 20px;
}

.texte9presta:hover
{
    font-size: 20px;
}

.texte10presta:hover
{
    font-size: 20px;
}

.texte11presta:hover
{
    font-size: 20px;
}

.texte12presta:hover
{
    font-size: 20px;
}

.RS_bas:hover
{
    color:#8E6852;
    font-size:16px;
}

header ul li:hover
{
color:#72887b;
font-weight: bold;
font-size: 25px;
}

