body {
    margin : 0;
}

header {
    display: flex;
    color : black;
    justify-content: space-between;
    align-items: center;
   
}

header ul {
    margin: 0px;
    list-style: none;
    font-size : 25px;
    padding : 0 148px;
}

header ul li {
    display: inline-block;
    padding : 0 40px;
    cursor: pointer;
    font-size: 0.8 rem;
}

hr{
    border-bottom : 1px solid;
}
.active {
    background-color: #F9E9CF;
}

#localisation
{
    width: 397px;
    height: 72px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#horaires
{ 
    width: 383px;
    height: 40px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#identifier
{
    width: 93px;
    height: 33px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#logo
{
    width: 200px;
    height: 200px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

#fresque {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    list-style: none;
    display: flex;
}

#bandeaugalerie
{
    width: 100%;
    height: 239px;
    background: url(<path-to-image>), lightgray -3.182px -0.121px / 100% 460.032% no-repeat;
}

.fresque {
    position: relative;
}

.infos {
    position: absolute;
    bottom: 0;
}

.fresque::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 37%;
    background-color: black;
    opacity:0.6 ;
    z-index: 1;
}

.fresque .infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 98%;
    z-index: 2; 
    padding: 10px;
    align-items: center;
}

#identifier {
    display: flex;
    text-align: center;
    border: 2px solid #9C917D;
    background-color: #9C917D;
    padding: 4px 8px; 
    border-radius: 20px;
    cursor: pointer;
    height: 80%;
    justify-content: center;
}

.préface
{
    color: #000;
    background-color: #9C917D;
    width: 100%;
    height: 100px;
    width: 100%;
}

.préface p
{
    margin-top: 0;
    padding-left: 30px;
    padding-top: 23px;
    font-family: Inika;
    font-size: 35px;
}

.remy1
{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remy1 p
{
    width: 589px;
    height: 400px;
    text-align: center;
    font-family: Inika;
    font-size: 23px;
    font-weight: 400;
    margin-top: 90px;
    margin-left: 10px;
}

#img1
{
    width: 360px;
    height: 465.68px;
    margin-left: 11.62px;
}

#img2
{
    width: 360px;
    height: 308px;
    margin-left: 22px;
    margin-right: 10px;
}

#txt1
{
    width: 308px;
    height: 54px;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: 570px;
    margin-top: -27px;;
}

#txt2
{
    width: 308px;
    height: 54px;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: 940px;
    margin-top: -150px;;
}

.inter1
{
    background-color: black;
    width: 50%;
    height: 1px;
    margin-top: 120px;
    margin-left: 25%;
}

.remy2
{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remy2 p
{
    width: 591px;
    height: 493px;
    text-align: center;
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    margin-top: 100px;
}

#img3
{
    width: 291px;
    height: 292px;
    margin-left: 10px;
    margin-top: -200px;
}

#img4
{
    width: 400px;
    height: 400px;
    margin-top: 100;
    margin-left: 10px;
}

#txt3
{
    width: 308px;
    height: 54px;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: -8px;
    margin-top: -260px;
}

#txt4
{
    width: 308px;
    height: 54px;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: 360px;
    margin-top: 100px;;
}

.inter2
{
    background-color: black;
    width: 50%;
    height: 1px;
    margin-left: 25%;
    margin-top: 50px;
}

.remy3
{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.remy3 p
{
    width: 589px;
    height: 400px;
    text-align: center;
    font-family: Inika;
    font-size: 23px;
    font-weight: 400;
    margin-top: 90px;
    margin-left: 10px;
}

#img5
{
    width: 359px;
    height: 376px;
    margin-top: 150px;
}

#img6
{
    width: 377px;
    height: 427px;
    margin-left: 22px;
    margin-right: 10px;
}

#txt5
{
    width: 308px;
    height: 54px;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: 520px;
    margin-top: 0px;;
}

#txt6
{
    width: 308px;
    height: 54px;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: 918px;
    margin-top: -120px;;
}

.préface2
{
    color: #000;
    background-color: #9C917D;
    width: 100%;
    height: 100px;
    width: 100%;
    margin-top: 6%;
}

.préface2 p
{
    margin-top: 0;
    padding-left: 30px;
    padding-top: 23px;
    font-family: Inika;
    font-size: 35px;
}

.alex1
{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alex1 p
{
    width: 589px;
    height: 400px;
    text-align: center;
    font-family: Inika;
    font-size: 23px;
    font-weight: 400;
    margin-top: 100px;
    margin-right: 10px;
}

#imga1
{
    width: 282px;
    height: 274px;
    margin-left: 20px;
}

#imga2
{
    width: 362px;
    height: 388px;
    margin-left: 56px;
    margin-right: 21px;
}

#text1
{
    width: 308px;
    height: 54px;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: -120px;;
}

#text2
{
    width: 308px;
    height: 54px;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: 380px;
    margin-top: -16px;;
}

.inter1
{
    background-color: black;
    width: 50%;
    height: 1px;
    margin-top: 120px;
    margin-left: 25%;
}

.alex2
{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alex2 p
{
    width: 591px;
    height: 493px;
    text-align: center;
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    margin-top: 100px;
}

#imga3
{
    width: 291px;
    height: 292px;
}

#imga4
{
    width: 380px;
    height: 440px;
    margin-top: -80px;
    margin-left: 10px;
    margin-right: 10px;
}

#text3
{
    width: 308px;
    height: 54px;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: 568px;
    margin-top: -160px;
}

#text4
{
    width: 308px;
    height: 54px;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: 915px;
    margin-top: -35px;;
}

.inter2
{
    background-color: black;
    width: 50%;
    height: 1px;
    margin-left: 25%;
    margin-top: 50px;
}

.alex3
{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.alex3 p
{
    width: 523px;
    height: 664px;
    text-align: center;
    font-family: Inika;
    font-size: 23px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#imga5
{
    width: 379px;
    height: 376px;
    margin-top: -160px;
    margin-left: 20px;
}

#imga6
{
    width: 380px;
    height: 447px;
    margin-left: 30px;
    margin-right: 21px;
}

#text5
{
    width: 308px;
    height: 54px;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: 40px;
    margin-top: -245px;;
}

#text6
{
    width: 308px;
    height: 54px;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: 460px;
    margin-top: 60px;;
}

.bas {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bandeau {
    background-color: #F6E9D1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.logo img {
    max-width: 100px;
	flex-shrink: 0;
}

.adresse {
    list-style-type: none;
    margin: 10px;
    padding: 0px;
	font-size: 12px;
	max-width: 15%;
}

.partenaires {
    margin-left: auto;
    max-width: 172px;
	font-size: 15px;
}

.logo-partenaire1 img {
    max-width: 129px;
	margin-left: 10px;
	flex-shrink: 0;
}

.logo-partenaire2 img {
    max-width: 140px;
	margin-left: 10px;
	flex-shrink: 0;
}

.RS_bas {
    flex-direction: column; 
    display: flex;
	margin-left: auto;
	font-size: 15px;
    line-height: 2.7;
}

.RS_bas i {
    margin-right: 5px;
}

.bandeau2 {
    background-color: #8E6852;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 30px;
}

.RS_bas2 {
    margin-left: auto;
    color: #FFF;
}

.RS_bas2 i {
    margin-right: 10px;
}

.text_bas{
    font-size: 15px;
    max-height: 20px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    color: #FFF;
}